$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

h1,
h2,
h3,
h4,
h5,
h6,
.btn,
.title-font {
    font-family: 'Dosis', sans-serif;
    font-weight: $medium;
    letter-spacing: .7px;
}